<ul>
  <li><a href="#">Главная</a></li>
  <li><a href="#">Категории</a>
    <ul>
      <li><a routerLink="/page" routerLinkActive="active">Недвижимость</a></li>
      <li><a  routerLink="/animal" routerLinkActive="active">Животные</a></li>
      <li><a routerLink="/clothes" routerLinkActive="active">Личные вещи</a></li>
      <li><a routerLink="/work" routerLinkActive="active">Работа</a></li>
      <li><a routerLink="/car" routerLinkActive="active">Автомобили</a></li>
    </ul>
  </li>
  <li><a routerLink="/ad" routerLinkActive="active">Подать объявление</a></li>
  <li><a routerLink="/search" routerLinkActive="active">Поиск</a></li>
</ul>
<router-outlet></router-outlet>
